@using Microsoft.JSInterop;
<div @ref="@dragZoneElement" name="drag-zone" title="Drag and drop files here or click to upload." draggable="@draggable" @ondrop="HandleDragLeave" id='@($"dragZone-{id}")' style="@Style" class="@finalClass">
    <InputFile style="position: absolute; width: 100%; height: 100%; opacity: 0;cursor: pointer;" draggable="@draggable" @ondragenter="HandleDragEnter" @ondragleave="HandleDragLeave" OnChange="OnFileUpload" id='@($"inputFile-{id}")' multiple="@Multiple" accept="@FileFormats"></InputFile>
    <div class="@_fileViewClass">
        @foreach (var file in _addedFiles)
        {
            <FileCard File="@file"></FileCard>
        }
    </div>
    <div class="@_textClass">Drag and drop files here or click to upload.</div>
</div>
@code {
    ElementReference dragZoneElement;
    string id = Guid.NewGuid().ToString().Substring(0, 8);
    string finalClass => string.Join(" ", _classNames);
    [Parameter]
    public string Style { get => _style; set => _style = value; }
    bool draggable = true;
    string _style = $"height: {_height}px;";
    string _fileViewClass => _addedFiles.Any() ? "file-grid" : "file-grid d-none";
    string _textClass => _addedFiles.Any() ? "d-none" : string.Empty;

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    /// <summary>
    /// The height of the drag zone in pixels
    /// default is 200
    public float Height { get => _height; set => _height = value; }

    static float _height = 200;

    [Parameter]
    /// <summary>
    /// The file formats that the user can select separated by commas
    /// Example: .pdf,.doc,.docx
    /// default is *
    /// </summary>
    public string FileFormats { get; set; }

    [Parameter]
    /// <summary>
    /// If true, the user can select multiple files
    /// default is false
    /// </summary>
    public bool Multiple { get; set; } = false;

    private List<string> _classNames = new List<string>() { "drag-zone" };
    private List<IBrowserFile> _addedFiles = new List<IBrowserFile>();
    [Parameter]
    public EventCallback<IEnumerable<IBrowserFile>> OnUpload { get; set; }

    private async Task HandleDragLeave(DragEventArgs e)
    {
        _classNames.Remove("focus");
        await InvokeAsync(StateHasChanged);
    }
    private async Task HandleDragEnter(DragEventArgs e)
    {
        _classNames.Add("focus");
        await InvokeAsync(StateHasChanged);
    }
    bool IsFileValid(string file)
    {
        if (string.IsNullOrEmpty(FileFormats))
        {
            return true;
        }
        return FileFormats.Split(",").Any(x => file.EndsWith(x));
    }
    async Task OnFileUpload(InputFileChangeEventArgs args)
    {
        if (!Multiple)
        {
            var file = args.File;
            if (!IsFileValid(file.Name))
            {
                return;
            }
            _addedFiles.Clear();
            _addedFiles.Add(file);

        }
        else
        {
            foreach (var file in args.GetMultipleFiles())
            {
                if (!IsFileValid(file.Name))
                {
                    continue;
                }
                _addedFiles.Add(file);
            }
        }
        if(_addedFiles.Any())
        await OnUpload.InvokeAsync(_addedFiles);

    }
    protected override void OnInitialized()
    {
        var parameterClassess = Class?.Split(" ");
        if (parameterClassess != null)
        {
            _classNames.AddRange(parameterClassess);
        }
    }   
}